d4rl==1.1
diffusers==0.35.1
egl_probe==1.0.2
gibson2==1.0.2
gym==0.26.2
h5py==3.13.0
huggingface_hub==0.34.4
imageio==2.37.0
matplotlib==3.10.5
mujoco_py==2.1.2.14
mvp==0.9.3
numpy==2.3.2
packaging==25.0
psutil==7.0.0
pybullet==3.2.7
PyYAML==6.0.2
PyYAML==6.0.2
robosuite==1.5.1
scipy==1.16.1
setuptools==75.8.0
six==1.17.0
sphinx_book_theme==1.1.4
tensorboardX==2.6.2.2
tensorboardX==2.6.4
termcolor==3.1.0
torch==2.6.0+cu126
torchvision==0.21.0+cu126
tqdm==4.67.1
wandb==0.21.2
